<nav class="p-3">
  <ul class="nav nav-pills">
    <!--<li class="btn btn-outline-success ms-1" routerLink="/home">
      Home
      <i class="bi bi-house text-success"></i>
    </li>
    <li class="btn btn-outline-success ms-1" routerLink="/products">
      Products
      <i class="bi bi-arrow-down-up text-success"></i>
    </li>
    <li class="btn btn-outline-success ms-1" routerLink="/newProduct">
      New Product
      <i class="bi bi-plus-circle text-success"></i>
    </li>-->
    <li *ngFor="let action of actions">
      <button
        (click)="setCurrentAction(action)"
        routerLink={{action.route}}
        [class]="action==currentAction?'btn btn-success ms-1':'btn btn-outline-success ms-1'">
<!--        class="btn btn-outline-success ms-1"-->
        {{action.title}}
        <i class="bi bi-{{action.icon}}"></i>
      </button>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
