<div class="p-3">
  <div class="card">
    <div class="card-body">
      <h3>Products component</h3>
      <div class ="card-body">
        <input type="text" [(ngModel)]="keyword">
        <!-- <button class="btn btn-success ms-1" (click)="searchProducts()"> -->
        <button class="btn btn-success ms-1" (click)="getProducts()">
          <i class="bi bi-search"></i>
        </button>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>ID</th><th>Name</th><th>Price</th><th>Checked</th>
          </tr>
        </thead>
        <tbody>
        <!--          <tr *ngFor="let product of products$ | async">-->
          <tr *ngFor="let product of products">
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>
              <button (click)="handleCheck(product)"
                class="btn btn-outline-success">
                <i [class] ="product.checked?'bi bi-check':'bi bi-circle'"></i>
              </button>
<!--              {{product.checked}}-->
            </td>
            <td>
              <button
                    (click)="handleDelete(product)"
                      class="btn btn-outline-danger">
                <i class="bi bi-trash" ></i>
              </button>

            </td>
            <td>
              <button
                    (click)="handleEdit(product)"
                      class="btn btn-outline-danger">
                <i class="bi bi-pencil" ></i>
              </button>
            </td>
          </tr>

        </tbody>

      </table>
      <ul class="nav nav-pills">
        <li *ngFor="let page of [].constructor(this.totalPages); let i = index">
            <button (click)="handleGoToPage(i+1)" 
            [ngClass] = "currentPage ==(i+1)?'btn btn-success m-1':'btn btn-outline-success m-1'"
              >
              {{(i+1)}}
            </button>
        </li>
      </ul>
    </div>
  </div>
</div>
